
.theme-dark {
    background-color: #1a2236;
    .app-content {
    	background-color: #1a2236;
    	&:before {
    		background-color: rgba(0, 0, 0, 0.9);
    	}
    }
    .card {
    	background-color: #293145 !important;
    }
    .app-footer {
    	background-color: #293145 !important;
    	border-top: 0;
    	i {
    		color: #fff;
    	}	
    }
    .app-header .logo svg path {
    	fill: #fff;
    }
    .app-header .menu-icon i {
    	color: #fff;
    }
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {color: #fff !important;
    }
}

.inter-font {font-family: 'Inter', sans-serif;}
.mont-font {font-family: 'Montserrat', sans-serif;}
.lato-font {font-family: 'Lato', sans-serif;}
.dm-font {font-family: 'DM Serif Display', serif; }
.play-font {font-family: 'Playfair Display', serif;}

	
	